.alo {
  font-size: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c2321;
  color: #eef1ef;
  padding-left: 0.25em;
  font-weight: 400;
  width: 100%;
}
.arrow {
  font-size: 1em;
  color: #eef1ef;
}

@media (min-width: 648px) {
  .alo {
    font-size: 12em;
  }
  .arrow {
    font-size: 1em;
  }
}
